$color--primary: #ff1880;
$color--primary-light: #e78ab4;
$color--primary-dark: #d6156c;
$color--heading: #1e1e20;
$color--text: #313136;

// Neutrals
$color--gray-one: #eaecf1;
$color--gray-two: #e1e2e8;
$color--gray-three: #8f93a1;
$color--gray-four: #587085;
