@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

.form {
  margin: 0;
}

html, body {
  overflow-x: hidden !important;
}

p {
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 1.6em;
  font-weight: 500;
  color: #444;
  font-family: 'Raleway', sans-serif;
}

@media (max-width: 576px) {
  p {
    font-size: 17px;
    letter-spacing: 0.04em;
  }
}

.input {
  padding: 14px;
  background: #f7f7f7;
  border: 2px solid #f7f7f7;
  font-size: 16px;
  margin-bottom: 4px;
  outline: none;
  width: 100%;
}

.input:focus {
  border: 2px solid #95e536;
}

.hidden-label {
  height: 0px !important;
  width: 0px !important;
  background: transparent !important;
  color: transparent !important;
  border: none !important;
  outline: none !important;
  cursor: default !important;
  padding: 0 !important;
  margin: 0 !important;
  max-height: 0px !important;
  min-height: 0px !important;
  display: block;
}

.hidden-input {
  height: 0px !important;
  width: 0px !important;
  background: transparent !important;
  color: transparent !important;
  border: none !important;
  outline: none !important;
  cursor: default !important;
  padding: 0 !important;
  margin: 0 !important;
  max-height: 0px !important;
  min-height: 0px !important;
  display: block;
}

.button {
  margin: 0;
  background: #95e536;
  display: block !important;
  width: fit-content !important;
  border: none;
  border-radius: 100px;
  padding: 12px 16px;
  color: white;
  margin-left: auto;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button:hover {
  background: #95e536d9;
  transition-duration: 0.4s;
  box-shadow: 2px 4px 22px -10px #95e536;
  transform: scale(1.04);
}

.textarea {
  padding: 14px;
  background: #f7f7f7;
  border: 2px solid #f7f7f7;
  font-size: 16px;
  outline: none;
  width: 100%;
  resize: vertical;
  min-height: 100px;
  vertical-align: top;
}

.textarea:focus {
  border: 2px solid #95e536;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quicksand', sans-serif;
}

* {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  overflow-y: none;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Arial', sans-serif;
  height: 100vh;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Arial', sans-serif;
  height: 100vh;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type='reset'],
[type='submit'],
button,
html [type='button'] {
  -webkit-appearance: button;
}
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em 'Montserrat', serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: 'Montserrat', serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: 'tnum';
  -moz-font-feature-settings: 'tnum';
  -ms-font-feature-settings: 'tnum';
  -webkit-font-feature-settings: 'tnum';
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: 'SFMono-Regular', Consolas, 'Roboto Mono', 'Droid Sans Mono',
    'Liberation Mono', Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: ' ';
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: '';
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

.no-underline {
  text-decoration: none !important;
}

.no-color {
  color: black;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
  padding: 0;
}

.container.header {
  max-width: 9999px !important;
  width: 100% !important;
  color: white;
  /* padding-right: 50px; */
}

.container.bottom {
  padding-bottom: 32px;
}

.container.top {
  padding-top: 32px;
}

.section {
  padding: 32px 0;
}

.section.small {
  padding: 18px 0;
}

@media (min-width: 540px) {
  .container {
    margin: 0 auto;
    width: 90%;
  }

  .container.header {
    width: 92.5%;
  }
}

@media (min-width: 769px) {
  .container {
    margin: 0 auto;
    width: 85%;
  }

  .container.header {
    width: 90%;
    /* padding-right: 25px; */
  }
}

@media (min-width: 1024px) {
  .container {
    margin: 0 auto;
    width: 80%;
  }

  .container.header {
    width: 85%;
    /* padding-right: 0; */
  }
}

/*  Font Weight Modifiers
***************************************
*/

.weight-1,
.weight-light {
  font-weight: 300;
}

.weight-2,
.weight-normal {
  font-weight: 400;
}

.weight-3,
.weight-semibold {
  font-weight: 500;
}

.weight-4,
.weight-bold {
  font-weight: 700;
}

.col {
  padding: 8px 0px;
  margin: 0;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  display: block;
}

.row.mobile {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px 0 -8px;
  height: fit-content;
  width: calc(100% + 16px);
}

.row.mobile > .col {
  height: fit-content;
  padding: 8px;
}

.row.mobile > .col-1,
.row.mobile .mobile-col-1 {
  height: fit-content;
  width: 8.33333%;
  flex: 1 1 0;
}
.row.mobile > .col-2,
.row.mobile .mobile-col-2 {
  width: 16.66%;
  flex: 1 1 0;
}
.row.mobile > .col-3,
.row.mobile .mobile-col-3 {
  width: 25%;
  flex: 1 1 0;
}
.row.mobile > .col-4,
.row.mobile .mobile-col-4 {
  width: 33.33333%;
  flex: 1 1 0;
}
.row.mobile > .col-5,
.row.mobile .mobile-col-5 {
  width: 41.66667%;
  flex: 1 1 0;
}
.row.mobile > .col-6,
.row.mobile .mobile-col-6 {
  width: 50%;
  flex: 1 1 0;
}
.row.mobile > .col-7,
.row.mobile .mobile-col-7 {
  width: 58.33333%;
  flex: 1 1 0;
}
.row.mobile > .col-8,
.row.mobile .mobile-col-8 {
  width: 66.66667%;
  flex: 1 1 0;
}
.row.mobile > .col-9,
.row.mobile .mobile-col-9 {
  width: 75%;
  flex: 1 1 0;
}
.row.mobile > .col-10,
.row.mobile .mobile-col-10 {
  width: 83.33333%;
  flex: 1 1 0;
}
.row.mobile > .col-11,
.row.mobile .mobile-col-11 {
  width: 91.66667%;
  flex: 1 1 0;
}
.row.mobile > .col-12,
.row.mobile .mobile-col-12 {
  width: 100%;
  flex: 1 1 0;
}

.row.mobile .auto,
.mobile-auto {
  flex: 1 1 0;
}

/* mobile-lg */
@media (min-width: 540px) {
  .row.mobile-lg {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px 0 -8px;
    width: calc(100% + 16px);
  }

  .row.mobile-lg > .col {
    padding: 8px;
  }

  .row.mobile-lg .auto,
  .mobile-auto {
    flex: 1 1 0 !important;
  }

  .row.mobile-lg > .col-1 {
    width: 8.33333%;
    flex: 1 1 0;
  }
  .row.mobile-lg > .col-2 {
    width: 16.66%;
    flex: 1 1 0;
  }
  .row.mobile-lg > .col-3 {
    width: 25%;
    flex: 1 1 0;
  }
  .row.mobile-lg > .col-4 {
    width: 33.33333%;
    flex: 1 1 0;
  }
  .row.mobile-lg > .col-5 {
    width: 41.66667%;
    flex: 1 1 0;
  }
  .row.mobile-lg > .col-6 {
    width: 50%;
    flex: 1 1 0;
  }
  .row.mobile-lg > .col-7 {
    width: 58.33333%;
    flex: 1 1 0;
  }
  .row.mobile-lg > .col-8 {
    width: 66.66667%;
    flex: 1 1 0;
  }
  .row.mobile-lg > .col-9 {
    width: 75%;
    flex: 1 1 0;
  }
  .row.mobile-lg > .col-10 {
    width: 83.33333%;
    flex: 1 1 0;
  }
  .row.mobile-lg > .col-11 {
    width: 91.66667%;
    flex: 1 1 0;
  }
  .row.mobile-lg > .col-12 {
    width: 100%;
    flex: 1 1 0;
  }

  .row > .col.mobile-col-1 {
    flex: 1 1 0;
    width: 8.33333%;
  }
  .row > .col.mobile-col-2 {
    flex: 1 1 0;
    width: 16.66%;
  }
  .row > .col.mobile-col-3 {
    flex: 1 1 0;
    width: 25%;
  }
  .row > .col.mobile-col-4 {
    flex: 1 1 0;
    width: 33.33333%;
  }
  .row > .col.mobile-col-5 {
    flex: 1 1 0;
    width: 41.66667%;
  }
  .row > .col.mobile-col-6 {
    flex: 1 1 0;
    width: 50%;
  }
  .row > .col.mobile-col-7 {
    flex: 1 1 0;
    width: 58.33333%;
  }
  .row > .col.mobile-col-8 {
    flex: 1 1 0;
    width: 66.66667%;
  }
  .row > .col.mobile-col-9 {
    flex: 1 1 0;
    width: 75%;
  }
  .row > .col.mobile-col-10 {
    flex: 1 1 0;
    width: 83.33333%;
  }
  .row > .col.mobile-col-11 {
    flex: 1 1 0;
    width: 91.66667%;
  }
  .row > .col.mobile-col-12 {
    flex: 1 1 0;
    width: 100%;
  }

  .row > .col.mobile-lg-col-1 {
    flex: 1 1 0;
    width: 8.33333%;
  }
  .row > .col.mobile-lg-col-2 {
    flex: 1 1 0;
    width: 16.66%;
  }
  .row > .col.mobile-lg-col-3 {
    flex: 1 1 0;
    width: 25%;
  }
  .row > .col.mobile-lg-col-4 {
    flex: 1 1 0;
    width: 33.33333%;
  }
  .row > .col.mobile-lg-col-5 {
    flex: 1 1 0;
    width: 41.66667%;
  }
  .row > .col.mobile-lg-col-6 {
    flex: 1 1 0;
    width: 50%;
  }
  .row > .col.mobile-lg-col-7 {
    flex: 1 1 0;
    width: 58.33333%;
  }
  .row > .col.mobile-lg-col-8 {
    flex: 1 1 0;
    width: 66.66667%;
  }
  .row > .col.mobile-lg-col-9 {
    flex: 1 1 0;
    width: 75%;
  }
  .row > .col.mobile-lg-col-10 {
    flex: 1 1 0;
    width: 83.33333%;
  }
  .row > .col.mobile-lg-col-11 {
    flex: 1 1 0;
    width: 91.66667%;
  }
  .row > .col.mobile-lg-col-12 {
    flex: 1 1 0;
    width: 100%;
  }

  .mobile-lg-auto {
    flex: 1 1 0 !important;
  }

  .row.desktop > .col,
  .row.widescreen > .col,
  .row > .col {
    width: 100%;
    display: block;
    padding: 8px 0px;
  }
}

/* Tablet */
@media (min-width: 769px) {
  .row.tablet,
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px 0 -8px;
    width: calc(100% + 16px);
  }

  .row.tablet > .col,
  .row > .col {
    padding: 8px;
  }

  .row > .col.col-1 {
    width: 8.33333%;
    flex: 1 1 0;
  }
  .row > .col.col-2 {
    width: 16.66%;
    flex: 1 1 0;
  }
  .row > .col.col-3 {
    width: 25%;
    flex: 1 1 0;
  }
  .row > .col.col-4 {
    width: 33.33333%;
    flex: 1 1 0;
  }
  .row > .col.col-5 {
    width: 41.66667%;
    flex: 1 1 0;
  }
  .row > .col.col-6 {
    width: 50%;
    flex: 1 1 0;
  }
  .row > .col.col-7 {
    width: 58.33333%;
    flex: 1 1 0;
  }
  .row > .col.col-8 {
    width: 66.66667%;
    flex: 1 1 0;
  }
  .row > .col.col-9 {
    width: 75%;
    flex: 1 1 0;
  }
  .row > .col.col-10 {
    width: 83.33333%;
    flex: 1 1 0;
  }
  .row > .col.col-11 {
    width: 91.66667%;
    flex: 1 1 0;
  }
  .row > .col.col-12 {
    width: 100%;
    flex: 1 1 0;
  }

  .row > .col.mobile-col-1 {
    flex: 1 1 0;
    width: 8.33333%;
  }
  .row > .col.mobile-col-2 {
    flex: 1 1 0;
    width: 16.66%;
  }
  .row > .col.mobile-col-3 {
    flex: 1 1 0;
    width: 25%;
  }
  .row > .col.mobile-col-4 {
    flex: 1 1 0;
    width: 33.33333%;
  }
  .row > .col.mobile-col-5 {
    flex: 1 1 0;
    width: 41.66667%;
  }
  .row > .col.mobile-col-6 {
    flex: 1 1 0;
    width: 50%;
  }
  .row > .col.mobile-col-7 {
    flex: 1 1 0;
    width: 58.33333%;
  }
  .row > .col.mobile-col-8 {
    flex: 1 1 0;
    width: 66.66667%;
  }
  .row > .col.mobile-col-9 {
    flex: 1 1 0;
    width: 75%;
  }
  .row > .col.mobile-col-10 {
    flex: 1 1 0;
    width: 83.33333%;
  }
  .row > .col.mobile-col-11 {
    flex: 1 1 0;
    width: 91.66667%;
  }
  .row > .col.mobile-col-12 {
    flex: 1 1 0;
    width: 100%;
  }

  .row > .col.mobile-lg-col-1 {
    flex: 1 1 0;
    width: 8.33333%;
  }
  .row > .col.mobile-lg-col-2 {
    flex: 1 1 0;
    width: 16.66%;
  }
  .row > .col.mobile-lg-col-3 {
    flex: 1 1 0;
    width: 25%;
  }
  .row > .col.mobile-lg-col-4 {
    flex: 1 1 0;
    width: 33.33333%;
  }
  .row > .col.mobile-lg-col-5 {
    flex: 1 1 0;
    width: 41.66667%;
  }
  .row > .col.mobile-lg-col-6 {
    flex: 1 1 0;
    width: 50%;
  }
  .row > .col.mobile-lg-col-7 {
    flex: 1 1 0;
    width: 58.33333%;
  }
  .row > .col.mobile-lg-col-8 {
    flex: 1 1 0;
    width: 66.66667%;
  }
  .row > .col.mobile-lg-col-9 {
    flex: 1 1 0;
    width: 75%;
  }
  .row > .col.mobile-lg-col-10 {
    flex: 1 1 0;
    width: 83.33333%;
  }
  .row > .col.mobile-lg-col-11 {
    flex: 1 1 0;
    width: 91.66667%;
  }
  .row > .col.mobile-lg-col-12 {
    flex: 1 1 0;
    width: 100%;
  }

  .mobile-lg-auto,
  .row.tablet .auto,
  .auto,
  .mobile-auto {
    flex: 1 1 0 !important;
  }

  .row > .col.tablet-col-1 {
    flex: 1 1 0;
    width: 8.33333%;
  }
  .row > .col.tablet-col-2 {
    flex: 1 1 0;
    width: 16.66%;
  }
  .row > .col.tablet-col-3 {
    flex: 1 1 0;
    width: 25%;
  }
  .row > .col.tablet-col-4 {
    flex: 1 1 0;
    width: 33.33333%;
  }
  .row > .col.tablet-col-5 {
    flex: 1 1 0;
    width: 41.66667%;
  }
  .row > .col.tablet-col-6 {
    flex: 1 1 0;
    width: 50%;
  }
  .row > .col.tablet-col-7 {
    flex: 1 1 0;
    width: 58.33333%;
  }
  .row > .col.tablet-col-8 {
    flex: 1 1 0;
    width: 66.66667%;
  }
  .row > .col.tablet-col-9 {
    flex: 1 1 0;
    width: 75%;
  }
  .row > .col.tablet-col-10 {
    flex: 1 1 0;
    width: 83.33333%;
  }
  .row > .col.tablet-col-11 {
    flex: 1 1 0;
    width: 91.66667%;
  }
  .row > .col.tablet-col-12 {
    flex: 1 1 0;
    width: 100%;
  }

  .row > .col.tablet-auto {
    flex: 1 1 0 !important;
  }

  .row.desktop > .col,
  .row.widescreen > .col {
    display: block;
    width: 100%;
    flex: 1 1 0;
    padding: 8px;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .row.desktop {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px 0 -8px;
    width: calc(100% + 16px);
  }

  .row.desktop > .col {
    padding: 8px;
    flex: 1 1 0;
  }

  .row.desktop > .col-1 {
    width: 8.33333%;
    flex: 1 1 0;
  }
  .row.desktop > .col-2 {
    width: 16.66%;
    flex: 1 1 0;
  }
  .row.desktop > .col-3 {
    width: 25%;
    flex: 1 1 0;
  }
  .row.desktop > .col-4 {
    width: 33.33333%;
    flex: 1 1 0;
  }
  .row.desktop > .col-5 {
    width: 41.66667%;
    flex: 1 1 0;
  }
  .row.desktop > .col-6 {
    width: 50%;
    flex: 1 1 0;
  }
  .row.desktop > .col-7 {
    width: 58.33333%;
    flex: 1 1 0;
  }
  .row.desktop > .col-8 {
    width: 66.66667%;
    flex: 1 1 0;
  }
  .row.desktop > .col-9 {
    width: 75%;
    flex: 1 1 0;
  }
  .row.desktop > .col-10 {
    width: 83.33333%;
    flex: 1 1 0;
  }
  .row.desktop > .col-11 {
    width: 91.66667%;
    flex: 1 1 0;
  }
  .row.desktop > .col-12 {
    width: 100%;
    flex: 1 1 0;
  }

  .row.desktop .mobile-col-1 {
    flex: 1 1 0;
    width: 8.33333%;
  }
  .row.desktop .mobile-col-2 {
    flex: 1 1 0;
    width: 16.66%;
  }
  .row.desktop .mobile-col-3 {
    flex: 1 1 0;
    width: 25%;
  }
  .row.desktop .mobile-col-4 {
    flex: 1 1 0;
    width: 33.33333%;
  }
  .row.desktop .mobile-col-5 {
    flex: 1 1 0;
    width: 41.66667%;
  }
  .row.desktop .mobile-col-6 {
    flex: 1 1 0;
    width: 50%;
  }
  .row.desktop .mobile-col-7 {
    flex: 1 1 0;
    width: 58.33333%;
  }
  .row.desktop .mobile-col-8 {
    flex: 1 1 0;
    width: 66.66667%;
  }
  .row.desktop .mobile-col-9 {
    flex: 1 1 0;
    width: 75%;
  }
  .row.desktop .mobile-col-10 {
    flex: 1 1 0;
    width: 83.33333%;
  }
  .row.desktop .mobile-col-11 {
    flex: 1 1 0;
    width: 91.66667%;
  }
  .row.desktop .mobile-col-12 {
    flex: 1 1 0;
    width: 100%;
  }

  .row.desktop .mobile-lg-col-1 {
    flex: 1 1 0;
    width: 8.33333%;
  }
  .row.desktop .mobile-lg-col-2 {
    flex: 1 1 0;
    width: 16.66%;
  }
  .row.desktop .mobile-lg-col-3 {
    flex: 1 1 0;
    width: 25%;
  }
  .row.desktop .mobile-lg-col-4 {
    flex: 1 1 0;
    width: 33.33333%;
  }
  .row.desktop .mobile-lg-col-5 {
    flex: 1 1 0;
    width: 41.66667%;
  }
  .row.desktop .mobile-lg-col-6 {
    flex: 1 1 0;
    width: 50%;
  }
  .row.desktop .mobile-lg-col-7 {
    flex: 1 1 0;
    width: 58.33333%;
  }
  .row.desktop .mobile-lg-col-8 {
    flex: 1 1 0;
    width: 66.66667%;
  }
  .row.desktop .mobile-lg-col-9 {
    flex: 1 1 0;
    width: 75%;
  }
  .row.desktop .mobile-lg-col-10 {
    flex: 1 1 0;
    width: 83.33333%;
  }
  .row.desktop .mobile-lg-col-11 {
    flex: 1 1 0;
    width: 91.66667%;
  }
  .row.desktop .mobile-lg-col-12 {
    flex: 1 1 0;
    width: 100%;
  }

  .row.desktop .tablet-col-1 {
    flex: 1 1 0;
    width: 8.33333%;
  }
  .row.desktop .tablet-col-2 {
    flex: 1 1 0;
    width: 16.66%;
  }
  .row.desktop .tablet-col-3 {
    flex: 1 1 0;
    width: 25%;
  }
  .row.desktop .tablet-col-4 {
    flex: 1 1 0;
    width: 33.33333%;
  }
  .row.desktop .tablet-col-5 {
    flex: 1 1 0;
    width: 41.66667%;
  }
  .row.desktop .tablet-col-6 {
    flex: 1 1 0;
    width: 50%;
  }
  .row.desktop .tablet-col-7 {
    flex: 1 1 0;
    width: 58.33333%;
  }
  .row.desktop .tablet-col-8 {
    flex: 1 1 0;
    width: 66.66667%;
  }
  .row.desktop .tablet-col-9 {
    flex: 1 1 0;
    width: 75%;
  }
  .row.desktop .tablet-col-10 {
    flex: 1 1 0;
    width: 83.33333%;
  }
  .row.desktop .tablet-col-11 {
    flex: 1 1 0;
    width: 91.66667%;
  }
  .row.desktop .tablet-col-12 {
    flex: 1 1 0;
    width: 100%;
  }

  .row > .col.desktop-col-1 {
    flex: 1 1 0;
    width: 8.33333%;
  }
  .row > .col.desktop-col-2 {
    flex: 1 1 0;
    width: 16.66%;
  }
  .row > .col.desktop-col-3 {
    flex: 1 1 0;
    width: 25%;
  }
  .row > .col.desktop-col-4 {
    flex: 1 1 0;
    width: 33.33333%;
  }
  .row > .col.desktop-col-5 {
    flex: 1 1 0;
    width: 41.66667%;
  }
  .row > .col.desktop-col-6 {
    flex: 1 1 0;
    width: 50%;
  }
  .row > .col.desktop-col-7 {
    flex: 1 1 0;
    width: 58.33333%;
  }
  .row > .col.desktop-col-8 {
    flex: 1 1 0;
    width: 66.66667%;
  }
  .row > .col.desktop-col-9 {
    flex: 1 1 0;
    width: 75%;
  }
  .row > .col.desktop-col-10 {
    flex: 1 1 0;
    width: 83.33333%;
  }
  .row > .col.desktop-col-11 {
    flex: 1 1 0;
    width: 91.66667%;
  }
  .row > .col.desktop-col-12 {
    flex: 1 1 0;
    width: 100%;
  }

  .row > .col.desktop-auto {
    flex: 1 1 0 !important;
  }

  .row .widescreen {
    padding: 8px 0px;
    width: 100%;
  }
}

/* Widescreen */
@media (min-width: 1220px) {
  .row.widescreen {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px 0 -8px;
    width: calc(100% + 16px);
  }

  .row.widescreen > .col {
    padding: 8px;
    flex: 1 1 0;
  }

  .row.widescreen > .col-1 {
    width: 8.33333%;
    flex: 1 1 0;
  }
  .row.widescreen > .col-2 {
    width: 16.66%;
    flex: 1 1 0;
  }
  .row.widescreen > .col-3 {
    width: 25%;
    flex: 1 1 0;
  }
  .row.widescreen > .col-4 {
    width: 33.33333%;
    flex: 1 1 0;
  }
  .row.widescreen > .col-5 {
    width: 41.66667%;
    flex: 1 1 0;
  }
  .row.widescreen > .col-6 {
    width: 50%;
    flex: 1 1 0;
  }
  .row.widescreen > .col-7 {
    width: 58.33333%;
    flex: 1 1 0;
  }
  .row.widescreen > .col-8 {
    width: 66.66667%;
    flex: 1 1 0;
  }
  .row.widescreen > .col-9 {
    width: 75%;
    flex: 1 1 0;
  }
  .row.widescreen > .col-10 {
    width: 83.33333%;
    flex: 1 1 0;
  }
  .row.widescreen > .col-11 {
    width: 91.66667%;
    flex: 1 1 0;
  }
  .row.widescreen > .col-12 {
    width: 100%;
    flex: 1 1 0;
  }

  .row.widescreen .mobile-col-1 {
    flex: 1 1 0;
    width: 8.33333%;
  }
  .row.widescreen .mobile-col-2 {
    flex: 1 1 0;
    width: 16.66%;
  }
  .row.widescreen .mobile-col-3 {
    flex: 1 1 0;
    width: 25%;
  }
  .row.widescreen .mobile-col-4 {
    flex: 1 1 0;
    width: 33.33333%;
  }
  .row.widescreen .mobile-col-5 {
    flex: 1 1 0;
    width: 41.66667%;
  }
  .row.widescreen .mobile-col-6 {
    flex: 1 1 0;
    width: 50%;
  }
  .row.widescreen .mobile-col-7 {
    flex: 1 1 0;
    width: 58.33333%;
  }
  .row.widescreen .mobile-col-8 {
    flex: 1 1 0;
    width: 66.66667%;
  }
  .row.widescreen .mobile-col-9 {
    flex: 1 1 0;
    width: 75%;
  }
  .row.widescreen .mobile-col-10 {
    flex: 1 1 0;
    width: 83.33333%;
  }
  .row.widescreen .mobile-col-11 {
    flex: 1 1 0;
    width: 91.66667%;
  }
  .row.widescreen .mobile-col-12 {
    flex: 1 1 0;
    width: 100%;
  }

  .row.widescreen .mobile-lg-col-1 {
    flex: 1 1 0;
    width: 8.33333%;
  }
  .row.widescreen .mobile-lg-col-2 {
    flex: 1 1 0;
    width: 16.66%;
  }
  .row.widescreen .mobile-lg-col-3 {
    flex: 1 1 0;
    width: 25%;
  }
  .row.widescreen .mobile-lg-col-4 {
    flex: 1 1 0;
    width: 33.33333%;
  }
  .row.widescreen .mobile-lg-col-5 {
    flex: 1 1 0;
    width: 41.66667%;
  }
  .row.widescreen .mobile-lg-col-6 {
    flex: 1 1 0;
    width: 50%;
  }
  .row.widescreen .mobile-lg-col-7 {
    flex: 1 1 0;
    width: 58.33333%;
  }
  .row.widescreen .mobile-lg-col-8 {
    flex: 1 1 0;
    width: 66.66667%;
  }
  .row.widescreen .mobile-lg-col-9 {
    flex: 1 1 0;
    width: 75%;
  }
  .row.widescreen .mobile-lg-col-10 {
    flex: 1 1 0;
    width: 83.33333%;
  }
  .row.widescreen .mobile-lg-col-11 {
    flex: 1 1 0;
    width: 91.66667%;
  }
  .row.widescreen .mobile-lg-col-12 {
    flex: 1 1 0;
    width: 100%;
  }

  .row.widescreen .tablet-col-1 {
    flex: 1 1 0;
    width: 8.33333%;
  }
  .row.widescreen .tablet-col-2 {
    flex: 1 1 0;
    width: 16.66%;
  }
  .row.widescreen .tablet-col-3 {
    flex: 1 1 0;
    width: 25%;
  }
  .row.widescreen .tablet-col-4 {
    flex: 1 1 0;
    width: 33.33333%;
  }
  .row.widescreen .tablet-col-5 {
    flex: 1 1 0;
    width: 41.66667%;
  }
  .row.widescreen .tablet-col-6 {
    flex: 1 1 0;
    width: 50%;
  }
  .row.widescreen .tablet-col-7 {
    flex: 1 1 0;
    width: 58.33333%;
  }
  .row.widescreen .tablet-col-8 {
    flex: 1 1 0;
    width: 66.66667%;
  }
  .row.widescreen .tablet-col-9 {
    flex: 1 1 0;
    width: 75%;
  }
  .row.widescreen .tablet-col-10 {
    flex: 1 1 0;
    width: 83.33333%;
  }
  .row.widescreen .tablet-col-11 {
    flex: 1 1 0;
    width: 91.66667%;
  }
  .row.widescreen .tablet-col-12 {
    flex: 1 1 0;
    width: 100%;
  }

  .row.widescreen .desktop-col-1 {
    flex: 1 1 0;
    width: 8.33333%;
  }
  .row.widescreen .desktop-col-2 {
    flex: 1 1 0;
    width: 16.66%;
  }
  .row.widescreen .desktop-col-3 {
    flex: 1 1 0;
    width: 25%;
  }
  .row.widescreen .desktop-col-4 {
    flex: 1 1 0;
    width: 33.33333%;
  }
  .row.widescreen .desktop-col-5 {
    flex: 1 1 0;
    width: 41.66667%;
  }
  .row.widescreen .desktop-col-6 {
    flex: 1 1 0;
    width: 50%;
  }
  .row.widescreen .desktop-col-7 {
    flex: 1 1 0;
    width: 58.33333%;
  }
  .row.widescreen .desktop-col-8 {
    flex: 1 1 0;
    width: 66.66667%;
  }
  .row.widescreen .desktop-col-9 {
    flex: 1 1 0;
    width: 75%;
  }
  .row.widescreen .desktop-col-10 {
    flex: 1 1 0;
    width: 83.33333%;
  }
  .row.widescreen .desktop-col-11 {
    flex: 1 1 0;
    width: 91.66667%;
  }
  .row.widescreen .desktop-col-12 {
    flex: 1 1 0;
    width: 100%;
  }

  .row > .col.widescreen-col-1 {
    flex: 1 1 0;
    width: 8.33333%;
  }
  .row > .col.widescreen-col-2 {
    flex: 1 1 0;
    width: 16.66%;
  }
  .row > .col.widescreen-col-3 {
    flex: 1 1 0;
    width: 25%;
  }
  .row > .col.widescreen-col-4 {
    flex: 1 1 0;
    width: 33.33333%;
  }
  .row > .col.widescreen-col-5 {
    flex: 1 1 0;
    width: 41.66667%;
  }
  .row > .col.widescreen-col-6 {
    flex: 1 1 0;
    width: 50%;
  }
  .row > .col.widescreen-col-7 {
    flex: 1 1 0;
    width: 58.33333%;
  }
  .row > .col.widescreen-col-8 {
    flex: 1 1 0;
    width: 66.66667%;
  }
  .row > .col.widescreen-col-9 {
    flex: 1 1 0;
    width: 75%;
  }
  .row > .col.widescreen-col-10 {
    flex: 1 1 0;
    width: 83.33333%;
  }
  .row > .col.widescreen-col-11 {
    flex: 1 1 0;
    width: 91.66667%;
  }
  .row > .col.widescreen-col-12 {
    flex: 1 1 0;
    width: 100%;
  }
}

.pt-none {
  padding-top: 0 !important;
}

.pb-none {
  padding-bottom: 0 !important;
}

.pl-none {
  padding-left: 0 !important;
}

.pr-none {
  padding-right: 0 !important;
}

.px-none {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.py-none {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.mt-none {
  margin-top: 0 !important;
}

.mb-none {
  margin-bottom: 0 !important;
}

.ml-none {
  margin-left: 0 !important;
}

.mr-none {
  margin-right: 0 !important;
}

.mx-none {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.my-none {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.p-relative {
  position: relative !important;
}

.full-height {
  height: 100% !important;
}
